
.icon-cog-alt:before { content: '\e801'; } /* '' */
.icon-sort-alt-down:before { content: '\e802'; } /* '' */
.icon-edit:before { content: '\e803'; } /* '' */
.icon-ok-circled:before { content: '\e804'; } /* '' */
.icon-cogs:before { content: '\e805'; } /* '' */